@namespace svg "http://www.w3.org/2000/svg";

/* Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
}

body {
  margin: 0;
}

/* Colors */

.Neutral {
  --color: #e2c69e;
}

.Water {
  --color: #c5dfea;
}

.Austria {
  --color: #c48f85;
}

.England {
  --color: #efc4e4;
}

.France {
  --color: #79afc6;
}

.Germany {
  --color: #a08a75;
}

.Italy {
  --color: #a4c499;
}

.Russia {
  --color: #a87e9f;
}

.Turkey {
  --color: #eaeaaf;
}

/* Board */

svg {
  display: block;
  max-width: 80vw;
  max-height: 94vh;
  margin: 30px auto 0 auto;
  border: 2px solid #333;
  padding: 10px;
  font-size: 10px;
}

#edges svg|line {
  stroke-opacity: 0.6;
}

#edges .Army {
  stroke: #973;
}

#edges .Fleet {
  stroke: blue;
}

#edges .Army.Fleet {
  stroke: #666;
}

#regions svg|g {
  cursor: grab;
}

#regions svg|g.dragging {
  cursor: grabbing;
}

#regions svg|text {
  text-anchor: middle;
  dominant-baseline: central;
}

#regions svg|rect {
  fill: var(--color);
}

#regions .occupied svg|text {
  font-weight: bold;
}

/* Form */

fieldset {
  margin: 30px auto;
  max-width: 80vw;
}

label {
  margin: 1em 0;
}

input[type="url"] {
  width: 400px;
}
